
{{#if mensajes.length}}
<ul class="list-group list-group-flush">
    {{#each mensajes}}
        <li id="mensajesHistorial" style="display: flex;" class="list-group-item">
            <p id="correo">{{this.author.id}}:&nbsp;</p><p id="msj">{{this.text}}</p><p id="fechaMensaje">{{this.hs}}</p>
        </li>
    {{/each}}
</ul>
{{/if}}
